<% url = user.photo %>
<% name = user.name %>
<% post_nbr = user.posts_counter %>
<% id = user.id %>
<div class='user_card'>
  <div class='image_wraper'>
    <a href='/users/<%= id %>'><img src=<%= url %> alt='user_image' class='image-user'></a>
  </div>
  <div class='user_data'>
    <p class='user_name'> <%= name %> </p>
    <span class='post_nbr'> Number of posts: <%= post_nbr %> </span>
  </div>
</div>